policy_module(kubocoin, 1.100.1)

########################################
#
# Declarations
#

type kubocoin_t;
type kubocoin_exec_t;
init_daemon_domain(kubocoin_t, kubocoin_exec_t)

permissive kubocoin_t;

type kubocoin_initrc_exec_t;
init_script_file(kubocoin_initrc_exec_t)

type kubocoin_conf_t;
files_type(kubocoin_conf_t)

type kubocoin_var_lib_t;
files_type(kubocoin_var_lib_t)

type kubocoin_var_run_t;
files_type(kubocoin_var_run_t)

type kubocoin_port_t;
corenet_port(kubocoin_port_t)

########################################
#
# kubocoin local policy
#
allow kubocoin_t self:process { fork };

allow kubocoin_t self:fifo_file rw_fifo_file_perms;
allow kubocoin_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(kubocoin_t, kubocoin_conf_t, kubocoin_conf_t)
manage_files_pattern(kubocoin_t, kubocoin_conf_t, kubocoin_conf_t)

manage_dirs_pattern(kubocoin_t, kubocoin_var_lib_t, kubocoin_var_lib_t)
manage_files_pattern(kubocoin_t, kubocoin_var_lib_t, kubocoin_var_lib_t)
files_var_lib_filetrans(kubocoin_t, kubocoin_var_lib_t, { dir file })

manage_dirs_pattern(kubocoin_t, kubocoin_var_run_t, kubocoin_var_run_t)
manage_files_pattern(kubocoin_t, kubocoin_var_run_t, kubocoin_var_run_t)

sysnet_dns_name_resolve(kubocoin_t)
corenet_all_recvfrom_unlabeled(kubocoin_t)

allow kubocoin_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(kubocoin_t)
corenet_tcp_sendrecv_generic_node(kubocoin_t)
corenet_tcp_sendrecv_all_ports(kubocoin_t)
corenet_tcp_bind_generic_node(kubocoin_t)

gen_require(`
    type kubocoin_port_t;
')
allow kubocoin_t kubocoin_port_t:tcp_socket name_bind;

gen_require(`
    type kubocoin_port_t;
')
allow kubocoin_t kubocoin_port_t:tcp_socket name_connect;

domain_use_interactive_fds(kubocoin_t)

files_read_etc_files(kubocoin_t)

miscfiles_read_localization(kubocoin_t)

sysnet_dns_name_resolve(kubocoin_t)

allow kubocoin_t kubocoin_exec_t:file execute_no_trans;
allow kubocoin_t self:process setsched;
corecmd_exec_ls(kubocoin_t)
corenet_tcp_connect_http_port(kubocoin_t)
dev_read_urand(kubocoin_t)
fs_getattr_xattr_fs(kubocoin_t)
kernel_read_system_state(kubocoin_t)
